<main>
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Districts of J&K</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col" *ngFor="let district of districts">
        <div class="feature-icon bg-gradient">
          <img height="250" width="350" [src]="district.image" [alt]="district.name" draggable="false">
        </div>
        <h2>{{district.name}}</h2>
        <p>{{district.description}}</p>
        <a [href]="district.link" class="icon-link">
          Call to action
        </a>
      </div>
    </div>
  </div>

</main>